* {
	margin:0px;
	padding:0px;
}
html,body {
	margin-bottom:50px;
}
.progress {
	height:20px;
	position:relative;
	width:500px;
}
.progress div {
	position:absolute;
	height:20px;
}
.progress .actual {
	background-color:#ff0000;
	z-index:1000;
}
.progress .loading {
	background-color:#ccc;
}

.coder {
	position: absolute;
	width: 500px;
	left: 575px;
	height: 400px;
	outline:none;
	padding:10px;
	font-family:monospace;
	background-color:#ccc;
	border:none;
	font-size:15px;
	line-height:18px;
}
h1 {
	margin-bottom:20px;

}
.white {
}

section {
	padding:40px;
}

#api {
	background-color:#00ADEF;
	padding:20px;
	font-family:sans-serif;
	color:#fff;
}

#api code {
	font-family:monospace;
	padding:20px;
	background-color:#e5e5e5;
	display:block;
	margin-top:20px;
	margin-bottom:20px;
	color:#333;
}
#api code p {
	white-space: pre;
}
#api ul {
	margin-left:25px;
	margin-top:20px;
	margin-bottom:20px;
}
#api ul li {
	margin-bottom:10px;
}